.App {
  text-align: center;
}



.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background: lightsteelblue;
}

.navbar h1 {
  justify-content: flex-start;
  align-items: left;
}

.navbar h3 {
  margin: 20px 10;
}

.navbar a{
  text-decoration: none;
  color: black;
  padding: 10px;
  transition: background-color 0.3s;
  margin: 20px;

}

.homepage{
  margin-top: 70px;
  padding: 20px;
}

.homepage h1 {
  text-align: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  text-align: left;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-card img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card .image-container {
  width: 200px; 
  height: 200px; 
  text-align: center; 
  margin: 0 auto; 
}
.product-card p {
  font-size: 1rem;
  text-align: center;
  margin: 0;
}

.product-card h3 {
  font-size: 1.2rem;
  margin: 10px 0;
  text-align: center;
}
.product-card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-card button:hover {
  background-color: #0056b3;
}

.cart {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  text-align: left;
}

.cart h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.cart-item p {
  margin: 0;
}

.remove-button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.remove-button:hover {
  background-color: #cc0000;
}


.login-container {
  background-color: #fff;
  padding: 100px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.signup-container {
  background-color: #fff;
  padding: 100px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box {
  margin-bottom: 15px;
  text-align: left;
  width: 100%;
}

label {
  font-weight: bold;
  color: #555;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="text"],
input[id="username"]
input[name="username"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

p {
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: #007BFF;
}

a:hover {
  text-decoration: underline;
}
